<html>
<head>
	<title>Пурпурный Квардрат</title>	
	<link href="/static/css/styles.css" rel="stylesheet">	
	<script type="text/javascript" src="/static/scripts/magic.js"></script>
</head>
<body>
<div id="container_top">
		<div id="todayIs">
		</div>
		<div id="separator_date_user">
		</div>
		<div id="user_panel">
			<font size="3" color="white">Администратор: <i>{{administrator}}</i>
			{% if admin %}
				<a href='/admin'> [Панель админа]</a>
			{% endif %}
			</font>
		</div>
</div>
<br>
<div id="#container_center">
	<div id="add_visitor_tariff">
		<div style="text-align: center;"><font class="textStyleCaption">Добавить посетителя</font></div>
		<div style="width: 100%;">
			<div id="number_55" class="number" style="margin-left: 10px; " onclick="addVisitorTariff(this)">55</div>
			<div id="number_56" class="number" style="margin-left: 45px; " onclick="addVisitorTariff(this)">56</div>
			<div id="number_57" class="number" style="margin-left: 80px; "  onclick="addVisitorTariff(this)">57</div>
			<div id="number_58" class="number" style="margin-left: 115px; " onclick="addVisitorTariff(this)">58</div>
	
			<div id="number_59" class="number" style="margin-left: 150px; " onclick="addVisitorTariff(this)">59</div>
			<div id="number_60" class="number" style="margin-left: 185px; " onclick="addVisitorTariff(this)">60</div>
			<div id="number_61" class="number" style="margin-left: 220px; " onclick="addVisitorTariff(this)">61</div>
			<div id="number_62" class="number" style="margin-left: 255px; " onclick="addVisitorTariff(this)">62</div>

			<div id="number_63" class="number" style="margin-left: 290px; " onclick="addVisitorTariff(this)">63</div>
			<div id="number_64" class="number" style="margin-left: 325px; " onclick="addVisitorTariff(this)">64</div>
			<div id="number_65" class="number" style="margin-left: 360px; " onclick="addVisitorTariff(this)">65</div>
			<div id="number_66" class="number" style="margin-left: 395px; " onclick="addVisitorTariff(this)">66</div>

			<div id="number_67" class="number" style="margin-left: 430px; " onclick="addVisitorTariff(this)">67</div>
			<div id="number_68" class="number" style="margin-left: 465px; " onclick="addVisitorTariff(this)">68</div>
			<div id="number_69" class="number" style="margin-left: 500px; " onclick="addVisitorTariff(this)">69</div>
			<div id="number_70" class="number" style="margin-left: 535px; " onclick="addVisitorTariff(this)">70</div>
			
			<div id="number_71" class="number" style="margin-left: 570px; " onclick="addVisitorTariff(this)">71</div>
			<div id="number_72" class="number" style="margin-left: 605px; " onclick="addVisitorTariff(this)">72</div>

			<div id="number_73" class="number" style="margin-left: 10px; margin-top: 35px; " onclick="addVisitorTariff(this)">73</div>
			<div id="number_74" class="number" style="margin-left: 45px; margin-top: 35px; " onclick="addVisitorTariff(this)">74</div>
			<div id="number_75" class="number" style="margin-left: 80px; margin-top: 35px; " onclick="addVisitorTariff(this)">75</div>
			<div id="number_76" class="number" style="margin-left: 115px; margin-top: 35px; " onclick="addVisitorTariff(this)">76</div>

			<div id="number_77" class="number" style="margin-left: 150px; margin-top: 35px; " onclick="addVisitorTariff(this)">77</div>
			<div id="number_78" class="number" style="margin-left: 185px; margin-top: 35px; " onclick="addVisitorTariff(this)">78</div>
			<div id="number_79" class="number" style="margin-left: 220px; margin-top: 35px; " onclick="addVisitorTariff(this)">79</div>
			<div id="number_80" class="number" style="margin-left: 255px; margin-top: 35px; " onclick="addVisitorTariff(this)">80</div>

			<div id="number_81" class="number" style="margin-left: 290px; margin-top: 35px; " onclick="addVisitorTariff(this)">81</div>
			<div id="number_82" class="number" style="margin-left: 325px; margin-top: 35px; " onclick="addVisitorTariff(this)">82</div>
			<div id="number_83" class="number" style="margin-left: 360px; margin-top: 35px; " onclick="addVisitorTariff(this)">83</div>
			<div id="number_84" class="number" style="margin-left: 395px; margin-top: 35px; " onclick="addVisitorTariff(this)">84</div>

			<div id="number_85" class="number" style="margin-left: 430px; margin-top: 35px; " onclick="addVisitorTariff(this)">85</div>
			<div id="number_86" class="number" style="margin-left: 465px; margin-top: 35px; " onclick="addVisitorTariff(this)">86</div>
			<div id="number_87" class="number" style="margin-left: 500px; margin-top: 35px; " onclick="addVisitorTariff(this)">87</div>
			<div id="number_88" class="number" style="margin-left: 535px; margin-top: 35px; " onclick="addVisitorTariff(this)">88</div>
			<div id="number_89" class="number" style="margin-left: 570px; margin-top: 35px; " onclick="addVisitorTariff(this)">89</div>
			<div id="number_90" class="number" style="margin-left: 605px; margin-top: 35px; " onclick="addVisitorTariff(this)">90</div>

			<div id="number_91" class="number" style="margin-left: 10px; margin-top: 70px; " onclick="addVisitorTariff(this)">91</div>
			<div id="number_92" class="number" style="margin-left: 45px; margin-top: 70px; " onclick="addVisitorTariff(this)">92</div>
			<div id="number_93" class="number" style="margin-left: 80px; margin-top: 70px; " onclick="addVisitorTariff(this)">93</div>
			<div id="number_94" class="number" style="margin-left: 115px; margin-top: 70px; " onclick="addVisitorTariff(this)">94</div>

			<div id="number_95" class="number" style="margin-left: 150px; margin-top: 70px; " onclick="addVisitorTariff(this)">95</div>
			<div id="number_96" class="number" style="margin-left: 185px; margin-top: 70px; " onclick="addVisitorTariff(this)">96</div>
			<div id="number_97" class="number" style="margin-left: 220px; margin-top: 70px; " onclick="addVisitorTariff(this)">97</div>
			<div id="number_98" class="number" style="margin-left: 255px; margin-top: 70px; " onclick="addVisitorTariff(this)">98</div>
			<div id="number_99" class="number" style="margin-left: 290px; margin-top: 70px; " onclick="addVisitorTariff(this)">99</div>
		</div>
	</div>

	<br>
	
	<div id="add_action">
		<font class="textStyleCaption">Добавить мероприятие</font>
			<form id="form_add_action">
				<table align="center" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td><font class="textStyle">Мероприятие: </font></td>	<td><input size="28" class="input_add_action" placeholder="Введите название мероприятия" name="action_name"/></td>
					</tr>
					<tr>
						<td><font class="textStyle">Время:</font></td>	<td><input size="5" maxLength="5" class="input_add_action" placeholder="ЧЧ:ММ" name="start_time"/></td>
					</tr>
					<tr>
						<td><font class="textStyle">Цена:</font></td>	<td><input type="number"  size="3" step="50" min="0" value="0" class="input_add_action" name="price"/><font class="textStyle"> руб.</font></td>
					</tr>
					<tr>
						<td><font class="textStyle">Кол-во участников:</font></td>	<td><input type="number" value="1" min="0" class="input_add_action" name="participants_count"/></td>
					</tr>
					<tr>
						<td><font class="textStyle">По тарифу:</font></td>	<td><input type="checkbox"  name="checkbox_tariff"/></td>
					</tr>
				</table>
				<div id="add_action_button">
					<button type="button" class="button_add_action" onclick="addAction()">Добавить</button>
				</div>
			</form>
	</div>

	<hr width="75%" color="#ffa500">
	
	<div id="visitors_tariff_log_container">
		<div id="visitors_tariff_log_caption">Посетители по тарифу (1.5 руб./мин.)</div>
			<table align="center" border="1" cellpadding="0" cellspacing="0" id="visitors_tariff_log_table">
				<tr class="th1">
					<td>Номерок</td>	<td>Время прибытия</td>	<td width="50px">Время присутствия</td>	<td>Стоимость</td>	<td>Комментарий</td>	<td>Стоп</td>
				</tr>
			</table>
		<div id="visitors_tariff_log_total_price"></div>
	</div>
	
	<br>
	<hr width="75%" color="#ffa500">
	
	<div id="action_log">
		<div style="text-align: center;"><font class="textStyleCaption">Мероприятия</font></div>
	</div>
	
	<br>
	<hr width="75%" color="#ffa500">
	
	<div id="released_visitors_log">
	</div>	
	<br>
	<hr width="75%" color="#ffa500">
	
	<div id="cash_log">
		<div id="cash_log_caption">
			<font class="textStyleCaption">Операции с кассой</font>
		</div>
		<table width="50%" id="cash_log_table" align="center" border="1" class="tableStyle1">
		</table>
	</div>
</div>

<br>

<div id="container_floor">
	<div id="container_floor_info">
		<div id="count_today_visittors">
			<div >Сегоня нас посетило <i id="count_released_visitors"></i> человек</div>
		</div>
		<div id="daily_profit">
			Сегодняшняя выручка <i id="today_income"></i> рублей
		</div>	
		<div id="end_session">
			<button class="button_cash" onclick="endSession()">Закончить смену</button>
		</div>
	</div>
	<div id="cash_desk">
		<div style="text-align: center;">На текущий момент в кассе <i id="current_money_in_cash"></i> руб.<br>
			<form id="cash_desk_form">
				<table align="center" border="0">
					<tr>
						<td><input type="number"  size="4" min="0" step="50" class="input_cash" placeholder="Сумма"/> </td>	<td> <input type="text" size="20" class="input_cash" placeholder="Комментарий"/></td><td><input type="button" class="button_cash" size="8" value="Добавить" onclick="moneyCash('add')" /><br><input type="button" class="button_cash" value="Снять" size="8" onclick="moneyCash('withdraw')"/></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

	<script magic>
		document.getElementById("count_released_visitors").innerHTML = parseInt(getCountTodayReleasedVisitors());
		document.getElementById("current_money_in_cash").innerHTML = getCurrentMoneyInCash();
		document.getElementById("today_income").innerHTML = parseInt(getTodayIncome());
		var DEBUG = false;
		var VISITORS_TARIFF_NUMB = 0;
		var VISITORS_NUMB = 0;
		var actions = getCurrentActions();
		initActionLog(actions);
		
		var visitorsTariff = getTodayVisitorsTariff();
		generateTodayVisitorsTariffTable(visitorsTariff);
		setNumbers(visitorsTariff);
		var timer1 = setInterval(view, 5000);
		var timer2 = setInterval(update, 1000);
		var timer3 = setInterval(updateActions, 60000);
		var TODAY_MAXIMUM_CHECK = getTodayMaxCheck();
		setTodayDate();
		viewReleasedVisitors();
		viewCashLog();
		updateActions();
	</script>
</body>
</html>