<html>
<head>
	<title>Пурпурный Квардрат</title>	
	<link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
	<!--<table border=2 id="debug">
	</table>-->
	<h1>В разработке...</h1>
	<p id="todayIs"></p>
	<div id ="guest_container">
		<div id="guests_selector">
			<form action="">
				<select id="guest_numbers_list" onchange="addGuest(this)">
					<option selected>Выберите номер</option>
				</select>
			<form>
		</div>
		<div id="guests_log_list">
		</div>
	</div>
	<div id="visitor_container">	
		<!--<p>Добавление нового посетителя (на мероприятие)</p>-->
		<div id="visitors_selector">
			<form action="">
				<div id="visitors_selector_action">
					<input type="text" value="Мероприятие" id="visitor_action_text">
				</div>
				<div id="visitors_selector_price">
					<select id="visitor_prices_list">
						<option selected>Выберите цену</option>
					</select>
				</div>
			</form>
		</div>
		<div id="visitors_log_list">
		</div>
		<div id="add_visitors_button">
			<button type="button" onclick ="addVisitor()" id="add_visitors_button">Добавить мероприятие</button>
		</div>
	</div>

	<script type="text/javascript">
		/* Guests - посетители анти-кафе, которые приходят по тарифу (1.5 руб./минута) */
		/* Visitors - посетители анти-кафе, которые приходят на мероприятие */
		var GUESTS_NUMB = 0;
		var VISITORS_NUMB = 0;
		var STATUS_ATTENDANCE = 1;
		var visitors = getTodayVisitors();
		var guests = getTodayGuests();
		var numbers = setNumbersOptions();
		var guests_numb = 0;
		var visitors_numb = 0;
		var timer = setInterval(view, 1000);
		var TODAY_MAXIMUM_CHECK = getTodayMaxCheck();
		setTodayDate();
		setPriceOptions();

		function view() {
			var guestsLogList = document.getElementById("guests_log_list");
			var HTMLGuestsLogList = '<table border=\"1\"><tr><td>Номер гостя</td><td>Статус</td><td>Время прибытия</td><td>Время присутствия</td><td>Стоимость</td><td>Остановить</td><tr>';
			for (var i = 0; i < GUESTS_NUMB; i++) {
				HTMLGuestsLogList += '<tr><td>' + guests[i].number + '</td><td>Гость</td><td>' + getArrivalTime(guests[i].arrivalTime) + '</td><td>' + getAttendanceTime(guests[i].arrivalTime) + '</td><td>' + getPriceByTraffic(guests[i].arrivalTime) + ' рублей</td><td><button type=\"button\" onclick =\"releaseGuest(' + guests[i].number + ')\" id=\"guest_number_' + guests[i].number + '\">Стоп</button></td></tr>'; //<td><form id=\"' + guests[i].guest_number + '></form></td>
			}
			HTMLGuestsLogList +=  '</table>';
			guestsLogList.innerHTML = HTMLGuestsLogList;
			
			var visitorsLogList = document.getElementById("visitors_log_list");
			var HTMLVisitorsLogList = '<table border=\"1\"><tr><td>Номер гостя</td><td>Мероприятие</td><td>Время прибытия</td><td>Время присутствия</td><td>Стоимость</td><td>Остановить</td><tr>';
			for (var i = 0; i < VISITORS_NUMB; i++) {
					HTMLVisitorsLogList += '<tr><td>' + visitors[i].number + '</td><td>' + visitors[i].action + '</td><td>' + getArrivalTime(visitors[i].arrivalTime) + '</td><td>' + getAttendanceTime(visitors[i].arrivalTime) + '</td><td>' + visitors[i].price + ' рублей</td><td><button type=\"button\" onclick =\"releaseVisitor(' + i + ')\" id=\"visitorAction:' + visitors[i].action + '\">Стоп</button></td></tr>';
			}
			HTMLVisitorsLogList +=  '</table>';
			visitorsLogList.innerHTML = HTMLVisitorsLogList;
			setTodayDate();
		}
		
		function getArrivalTime(time) {
			var time_str;
			var day = time.getDate();
			if (day < 10)
				day = '0' + day;
			var month = time.getMonth() + 1;
			if (month < 10)
				month = '0' + month;
			var hour = time.getHours();
			if (hour < 10)
				hour = '0' + hour;
			var minutes = time.getMinutes();
			if (minutes < 10)
				minutes = '0' + minutes;
			var seconds = time.getSeconds();
			if (seconds < 10)
				seconds = '0' + seconds;
			time_str = day + "." + month + "." + time.getFullYear() + " " + hour + ":" + minutes + ":" + seconds;
			return time_str;
		}
		function getAttendanceTime(time) {
			var curTime = new Date();
			var diffTime = curTime.getTime() - time.getTime();
			var time_str;
			var hour = Math.floor(diffTime / 1000 / 60 / 60) % 24;
			if (hour < 10)
				hour = '0' + hour;
			var minutes = Math.floor(diffTime / 1000 / 60)  % 60;
			if (minutes < 10)
				minutes = '0' + minutes;
			var seconds = Math.floor(diffTime / 1000) % 60;
			if (seconds < 10)
				seconds = '0' + seconds;
			time_str = hour + ":" + minutes; //+ ":" + seconds;
			return time_str;
		}
		function getTimeDifference(time1, time2) {
			var diffTime = time2.getTime() - time1.getTime();
			if (diffTime < 0)
				diffTime *= -1;
			var time_str;
			var hour = Math.floor(diffTime / 1000 / 60 / 60) % 24;
			if (hour < 10)
				hour = '0' + hour;
			var minutes = Math.floor(diffTime / 1000 / 60)  % 60;
			if (minutes < 10)
				minutes = '0' + minutes;
			var seconds = Math.floor(diffTime / 1000) % 60;
			if (seconds < 10)
				seconds = '0' + seconds;
			time_str = hour + ":" + minutes + ":" + seconds;
			return time_str;
		}
		function getPriceByTraffic(arrivalTime) {
			var curTime = new Date();
			var diffTime = curTime.getTime() - arrivalTime.getTime();
			var price = 1.5*(Math.floor(diffTime / 1000 / 60));
			if (price < TODAY_MAXIMUM_CHECK)
				return price;
			else
				return TODAY_MAXIMUM_CHECK;
		}
		
		function getTodayGuests() {
			GUESTS_NUMB = 0;
			var guests = new Array();
			var request =  new XMLHttpRequest();
			request.open('POST', '/todayvisitorsbytariff', false);
			request.send(null);
			var JSONGuests = JSON.parse(request.responseText);
			for (var i = 0; i < JSONGuests.length; i++) {
				guests[GUESTS_NUMB] = new Object();
				guests[GUESTS_NUMB].number = JSONGuests[i].number;
				guests[GUESTS_NUMB].action = "Гость";
				guests[GUESTS_NUMB].arrivalTime = new Date();
				guests[GUESTS_NUMB].arrivalTime.setTime(parseInt(JSONGuests[i].arrivalTime));
				GUESTS_NUMB++;
			}
			return guests;
		}
		function addGuest(guestSelector) {
			var index = guestSelector.selectedIndex;
			var guestNumb = parseInt(guestSelector[index].text);

			var val = "Выберите номер";
			var opts = guestSelector.options;
			for (var opt, j = 0; opt = opts[j]; j++) {
				if (opt.value == val) {
					guestSelector.selectedIndex = j;
					break;
				}
			}
			/*Если мы пытаемся "выдать" гостю номерок, который мы выдали ранее другому гостю, то такой номерок не может быть выдан! He shall not pass! */
			var guestExist = true;
			for (var i = 0; i < GUESTS_NUMB; i++) {
				if (guests[i].number == guestNumb) {
					guestExist = false;
					alert("Эй, негодник! Ты что, пытался выдать гостю номерок, который уже есть у другого гостя?!"); 
					break;
				}
			}
			if (guestExist == true) {
				guests[GUESTS_NUMB] = new Object();
				guests[GUESTS_NUMB].number = guestNumb;
				guests[GUESTS_NUMB].arrivalTime = new Date();
				
				var guest = new Object();
				guest.number = String(guests[GUESTS_NUMB].number);
				guest.arrivalTime = guests[GUESTS_NUMB].arrivalTime.getTime();//getArrivalTime(guests[GUESTS_NUMB].arrivalTime);
				
				var request =  new XMLHttpRequest();
				request.open('POST', '/addtodayguest', false);
				request.send(JSON.stringify(guest));
				alert("Отправляем серверу: " + JSON.stringify(guest));
				alert("Ответ сервера: " + request.responseText);
				GUESTS_NUMB++;
			}
			
		}
		function releaseGuest(guestNumber) {
			var request =  new XMLHttpRequest();
			request.open('POST', '/releaseguest/' + String(guestNumber), false);
			request.send(null);
			alert("Ответ сервера: " + request.responseText);
			request = null;
		
			var newGuest = new Object();
			var ind = 0;
			for (var i = 0; i < GUESTS_NUMB; i++)
				if (guests[i].number == guestNumber)
				{
					ind = i;
					break;
				}
			newGuest.number = String(guests[ind]);
			newGuest.arrivalTime = String(guests[ind].arrivalTime.getTime());
			newGuest.leavingTime = new Date();
			newGuest.leavingTime =  String(newGuest.leavingTime.getTime());
			newGuest.price = String(getPriceByTraffic(guests[ind].arrivalTime));
			newGuest.action = "Guest";
			var JSONNewGuest = JSON.stringify(newGuest);
			request =  new XMLHttpRequest();
			request.open('POST', '/addvisitor', false);
			request.send(JSONNewGuest);
			alert("Ответ сервера: " + request.responseText);
			
			for (var i = 0; i < guests_numb; i++)
				guests[i] = null;
			guests = null;
			
			guests = getTodayGuests();
		}

		function addVisitor() {
			var visitorPrices = document.getElementById("visitor_prices_list");
			var priceIndex = visitorPrices.selectedIndex;
			var price = visitorPrices[priceIndex].text;
			if (price != "Выберите цену")
				price = parseInt(price);

			var visitorAction = document.getElementById("visitor_action_text");
			var action = visitorAction.value;
			
			if (price != "Выберите цену" & action != "Мероприятие")
			{
				var val = "Выберите цену";
				var opts = visitorPrices.options;
				for (var opt, j = 0; opt = opts[j]; j++) {
				if (opt.value == val) {
					visitorPrices.selectedIndex = j;
					break;
					}
				}
				val = "Мероприятие";
				visitorAction.value = val;
				
				visitors[VISITORS_NUMB] = new Object();
				visitors[VISITORS_NUMB].number = VISITORS_NUMB+1;
				visitors[VISITORS_NUMB].price = price;
				visitors[VISITORS_NUMB].action = action;
				visitors[VISITORS_NUMB].arrivalTime =  new Date();
				
				var visitor = new Object();
				visitor.number = String(visitors[VISITORS_NUMB].number);
				visitor.arrivalTime = String(visitors[VISITORS_NUMB].arrivalTime.getTime());
				visitor.action = String(visitors[VISITORS_NUMB].action);
				visitor.price = String(visitors[VISITORS_NUMB].price);
				
				var request =  new XMLHttpRequest();
				request.open('POST', '/addtodayvisitor', false);
				
				request.send(JSON.stringify(visitor));

				alert("Отправляем серверу: " + JSON.stringify(visitor));
				alert("Ответ сервера: " + request.responseText);
				VISITORS_NUMB++;
			}
			else
				alert("Не выбрана цена или не указано мероприятие!");

			
			/*Если мы пытаемся "выдать" гостю номерок, который мы выдали ранее другому гостю, то такой номерок не может быть выдан! He shall not pass! */
			/*var guestExist = true;
			for (var i = 0; i < GUESTS_NUMB; i++) {
				if (guests[i].number == guestNumb) {
					guestExist = false;
					alert("Эй, негодник! Ты что, пытался выдать гостю номерок, который у другого гостя?!"); 
					break;
				}
			}
			if (guestExist == true) {
				guests[GUESTS_NUMB] = new Object();
				guests[GUESTS_NUMB].number = guestNumb;
				guests[GUESTS_NUMB].arrivalTime = new Date();
			}
				/*var request =  new XMLHttpRequest();
				request.open('POST', '/addguest', false);
				request.send(JSON.stringify(visitor));
				//alert("Отправляем серверу: " + JSON.stringify(visitor));
				//alert("Ответ сервера: " + request.responseText);*/
				//GUESTS_NUMB++;
			
		}
		function getTodayVisitors() {
			VISITORS_NUMB = 0;
			var visitors = new Array();
			var request =  new XMLHttpRequest();
			request.open('POST', '/todayvisitors', false);
			request.send(null);
			var JSONVisitors = JSON.parse(request.responseText);
			for (var i = 0; i < JSONVisitors.length; i++) {
				visitors[VISITORS_NUMB] = new Object();
				visitors[VISITORS_NUMB].number = parseInt(JSONVisitors[i].number);
				visitors[VISITORS_NUMB].price = parseInt(JSONVisitors[i].price);
				visitors[VISITORS_NUMB].action = JSONVisitors[i].action;
				visitors[VISITORS_NUMB].arrivalTime = new Date();
				visitors[VISITORS_NUMB].arrivalTime.setTime(parseInt(JSONVisitors[i].arrivalTime));
				VISITORS_NUMB++;
			}
			return visitors;
		}
		function releaseVisitor(visitorIndex) {
			var visitorNumber = parseInt(visitors[visitorIndex].number);
			var visitorAction = String(visitors[visitorIndex].action);
			
			var request =  new XMLHttpRequest();
			request.open('POST', '/releasevisitor/' + String(visitorNumber) + ',' + String(visitorAction), false);
			request.send(null);
			alert("Ответ сервера: " + request.responseText);
			request = null;
		
			/*var newGuest = new Object();
			var ind = 0;
			for (var i = 0; i < GUESTS_NUMB; i++)
				if (guests[i].number == guestNumber)
				{
					ind = i;
					break;
				}
			newGuest.number = String(guests[ind]);
			newGuest.arrivalTime = String(guests[ind].arrivalTime.getTime());
			newGuest.leavingTime = new Date();
			newGuest.leavingTime =  String(newGuest.leavingTime.getTime());
			newGuest.price = String(getPriceByTraffic(guests[ind].arrivalTime));
			newGuest.action = "Guest";
			var JSONNewGuest = JSON.stringify(newGuest);
			request =  new XMLHttpRequest();
			request.open('POST', '/addvisitor', false);
			request.send(JSONNewGuest);
			alert("Ответ сервера: " + request.responseText);
			
			for (var i = 0; i < guests_numb; i++)
				guests[i] = null;
			guests = null;
			
			guests = getTodayGuests();*/
		}
		
		function setNumbersOptions() {
			numbers = new Array();
			for (var i = 0; i < 45; i++) {
				numbers[i] = new Object();
				numbers[i].free = true;
				numbers[i].number = i+55;
				var guestNumbersSelector = document.getElementById("visitor_prices_list");
				var option = document.createElement("option");
				option.text = numbers[i].number;
				guest_numbers_list.add(option);
			}
		}
		function setPriceOptions() {
			for (var i = 3; i <= 20; i++) {
				var priceSelector = document.getElementById("visitor_prices_list");
				var option = document.createElement("option");
				option.text = i*50;
				priceSelector.add(option);
			}
		}
		function getTodayMaxCheck() {
			/* Берется сегодняшняя дата. 
			Скрипт, в котором делается поиск этой даты в таблице Checks. 
			Если запись в таблице найдена, берется цена из записи в таблице, иначе 350.*/
			var anotherTodayCheckExist = false;
			if (anotherTodayCheckExist)
			{
				return 150;
			}
			else
				return 350;
		}
		function setTodayDate() {
			var date = new Date();
			var todayIs = document.getElementById("todayIs");
			//alert(todayIs);
			todayIs.innerHTML = date.toLocaleDateString() + " " + date.toTimeString();
		}







		
		
		
		
		
		/*guests[0] = new Object(); guests[0].number = 12; guests[0].arrivalTime = new Date(); alert(guests[0].arrivalTime); //alert(getArrivalTime(guests[0].arrivalTime)); alert(getAttendanceTime(guests[0].arrivalTime)); visitors[0] =  new Object(); visitors[0].number = 1; visitors[0].arrivalTime = new Date(); visitors[0].price = 500; visitors[0].action = "Квест";*/
		/*var debugTable = document.getElementById("debug");
		var newCells = new Array();
		for (var i = 0; i < 10; i++) {
			var newRow = debugTable.insertRow();
			newCells[i] = new Array();
			for (var j = 0; j < 5; j++)
			{
				newCells[i][j] = newRow.insertCell();
				newCells[i][j].innerHTML = 5*i + j + 1;
			}
		}
		alert(debugTable);*/		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		//set_today_guests();
		//var timer = setInterval(view_guests, 1000);
		
		function view_guests() {
			var new_guest_id = document.getElementById("guests_log_list");
			var HTML_guests_log_list = '<table border=\"1\"><tr><td>Номер гостя</td><td>Статус</td><td>Время прибытия</td><td>Время присутствия</td><td>Стоимость</td><td>Остановить</td><tr>';
			for (var i = 0; i < guests_numb; i++) {
					HTML_guests_log_list += '<tr><td>' + guests[i].guest_number + '</td><td>Гость</td><td>' + get_guest_arrival_time(i) + '</td><td>' + get_guest_attendance_time(i) + '</td><td>' + get_current_price(i) + ' рублей</td><td><button type=\"button\" onclick =\"release_guest(' + i + ')\" id=\"guest_number_' + guests[i].guest_number + '\">Стоп</button></td></tr>'; //<td><form id=\"' + guests[i].guest_number + '></form></td>
			}
			HTML_guests_log_list +=  '</table>';
			new_guest_id.innerHTML = HTML_guests_log_list;
			
			var visitors_log_list = document.getElementById("visitors_log_list");
			var HTML_visitors_log_list = '<table border=\"1\"><tr><td>Номер гостя</td><td>Статус</td><td>Время прибытия</td><td>Время присутствия</td><td>Стоимость</td><td>Остановить</td><tr>';
			for (var i = 0; i < visitors_numb; i++) {
					HTML_visitors_log_list += '<tr><td>' + /*visitors[i].visitor_number*/i + '</td><td>Гость</td><td>' + /*get_guest_arrival_time(i)*/"33:33:33" + '</td><td>' + "44:44:44"/*get_guest_attendance_time(i)*/ + '</td><td>' + 350/*get_current_price(i)*/ + ' рублей</td><td><button type=\"button\" onclick =\"release_guest(' + i + ')\" id=\"guest_number_' + guests[i].guest_number + '\">Стоп</button></td></tr>'; //<td><form id=\"' + guests[i].guest_number + '></form></td>
			}
			HTML_visitors_log_list +=  '</table>';
			visitors_log_list.innerHTML = HTML_visitors_log_list;
		}
		
		function add_guest() {
			var guest_numbers_list = document.getElementById("guest_numbers_list");
			var index = guest_numbers_list.selectedIndex;
			var guest_numb = parseInt(guest_numbers_list[index].text);
			
			var val = "Выберите номер";
			var opts = guest_numbers_list.options;
			for (var opt, j = 0; opt = opts[j]; j++) {
				if (opt.value == val) {
					guest_numbers_list.selectedIndex = j;
					break;
				}
			}

			/*Если мы пытаемся "выдать" гостю номерок, который мы выдали ранее другому гостю, то такой номерок не может быть выдан! He shall not pass! */
			var guestExist = true;
			for (var i = 0; i < guests_numb; i++) {
				if (guests[i].guest_number == guest_numb) {
					guestExist = false;
					alert("Эй, негодник! Ты что, пытался выдать гостю номерок, который уже есть у другого гостя?!"); 
					break;
				}
			}
			if (guestExist == true) {
				guests[guests_numb] = new Object();
				guests[guests_numb].guest_number = guest_numb;
				guests[guests_numb].arrival_time = new Date();
				guests[guests_numb].status = STATUS_ATTENDANCE;

				var visitor = new Object();
				visitor.number = String(guest_numb);
				var hours = guests[guests_numb].arrival_time.getHours();
				var minutes = guests[guests_numb].arrival_time.getMinutes();
				var seconds = guests[guests_numb].arrival_time.getSeconds();
				visitor.arrival_time = String("" + hours + ":" + minutes + ":" + seconds + "");

				var request =  new XMLHttpRequest();
				request.open('POST', '/addguest', false);
				request.send(JSON.stringify(visitor));
				//alert("Отправляем серверу: " + JSON.stringify(visitor));
				//alert("Ответ сервера: " + request.responseText);
				guests_numb++;
			}
		}

		function get_guest_attendance_time(guest_id) {
			var attendance_time = new Date();
			var delta = attendance_time.getTime() - guests[guest_id].arrival_time.getTime();
			var attendance_time_seconds = parseInt(Math.abs(delta / 1000) % 60);
			var attendance_time_minutes = parseInt(Math.abs(delta / (1000*60)) % 60);
			var attendance_time_hours =  parseInt((Math.abs(delta / (1000*3600))) % 60);
			var str_attendance_time = attendance_time_hours + ":" + attendance_time_minutes + ":" + attendance_time_seconds;
			return str_attendance_time;
		}
		
		function get_guest_arrival_time(guest_id) {
			var arrival_time = guests[guest_id].arrival_time;
			var hours = arrival_time.getHours();
			var minutes = arrival_time.getMinutes();
			var seconds = arrival_time.getSeconds();
			var str_arrival_time = hours + ":" + minutes + ":" + seconds;
			return str_arrival_time;
		}

		function release_guest(guest_numb) {
			var guest_number = guests[guest_numb].guest_number;
			
			var visitor = new Object();
			visitor.number = String(guest_number);
			visitor.price = String(get_current_price(guest_numb));
			var hours = guests[guest_numb].arrival_time.getHours();
			var minutes = guests[guest_numb].arrival_time.getMinutes();
			var seconds = guests[guest_numb].arrival_time.getSeconds();
			visitor.arrival_time = String("" + hours + ":" + minutes + ":" + seconds + "");
			visitor.leaving_time = String("11:11:2015:11:11:11");
			
			for (var i = 0; i < guests_numb; i++)
				guests[i] = null;
			guests_numb = 0;
			var request =  new XMLHttpRequest();
			request.open('POST', '/releaseguest/' + String(guest_number), false);
			request.send(null);
			//alert("Отправляем серверу: " + guest_number);
			//alert("Ответ сервера: " + request.responseText);
			set_today_guests();
				
			var request2 =  new XMLHttpRequest();
			request2.open('POST', '/addvisitor', false);
			request2.send(JSON.stringify(visitor));
			
			alert("Отправляем серверу: " + JSON.stringify(visitor));
			alert("Ответ сервера: " + request2.responseText);
			//alert("Участник на мероприятие " + action + " зарегитрирован. Стоимость: " + price);
		}

		function get_current_price(guest_id) {
			var attendance_time = new Date();
			var delta = attendance_time.getTime() - guests[guest_id].arrival_time.getTime();
			var current_price = (1.5 * Math.abs(delta / (1000*60)));//.toFixed(1);
			if (parseInt(current_price) > parseInt(TODAY_MAXIMUM_CHECK))
				current_price = MAXIMUM_PRICE;
			var rubles = Math.floor(current_price);
			var kopecks = parseInt((current_price - rubles).toFixed(2)*100);
			var str_current_price = rubles;// + ' рублей ';
			return str_current_price;
		}

		function set_today_guests() {
			var req =  new XMLHttpRequest();
			req.open('POST', '/todayvisitors', false);
			req.send(null);
			//alert("Ответ сервера: " + req.responseText);
			var response = JSON.parse(req.responseText);
		
			for (var i = 0; i < response.length; i++) {
				guests[guests_numb] = new Object();				
				guests[guests_numb].guest_number = parseInt(response[i].number);
				guests[guests_numb].arrival_time = toTime(response[i].arrival_time);
				guests[guests_numb].status = STATUS_ATTENDANCE;
				guests_numb++;
			}
		}

		function toTime(str_time) {
		/* str_time is a string in format HH:MM:SS*/
			var time = new Date();
			var arr = str_time.split(":");
			time.setHours(arr[0]);
			time.setMinutes(arr[1]);
			time.setSeconds(arr[2]);
			return time;
		}
		
		function add_visitor() {
		//visitor_actions_list visitor_prices_list
		//addin new options
			/*var o = new Option("option text", "value");
			document.getElementById("visitor_prices_list").add(o)*/
			
			//visitors_selector_price   visitor_action_text
			
			var action = document.getElementById("visitor_action_text").value;
			
			//var visitor_actions_list = document.getElementById("visitor_actions_list");
			//var selectedAction = visitor_actions_list.selectedIndex;
			//var action = visitor_actions_list[selectedAction].text;
			
			var visitor_prices_list = document.getElementById("visitor_prices_list");
			var selectedPrice = visitor_prices_list.selectedIndex;
			var price = visitor_prices_list[selectedPrice].text;
			if (action != "Мероприятие" & price != "Выберите цену")
			{
				var visitor = new Object();
				visitor.price = String(price);
				visitor.action = String(action);

				var request =  new XMLHttpRequest();
				request.open('POST', '/addvisitor', false);
				request.send(JSON.stringify(visitor));
				//alert("Отправляем серверу: " + JSON.stringify(visitor));
				//alert("Ответ сервера: " + request.responseText);
				alert("Участник на мероприятие " + action + " зарегитрирован. Стоимость: " + price);
				
				document.getElementById("visitor_action_text").value = "Мероприятие";
				/*var action_val = "Выберите мероприятие"; //Выберите мероприятие" & price != "Выберите цену")
				var action_opts = visitor_actions_list.options;
				for (var opt, j = 0; opt = action_opts[j]; j++) {
					if (opt.value == action_val) {
						visitor_actions_list.selectedIndex = j;
						break;
					}
				}*/
				var table = document.getElementById("visitors_log_list_table");
				alert(table.rows());
				var price_val = "Выберите цену";
				var price_opts = visitor_prices_list.options;
				for (var opt, j = 0; opt = price_opts[j]; j++) {
					if (opt.value == price_val) {
						visitor_prices_list.selectedIndex = j;
						break;
					}
				}
				
			}
			/*var val = "Выберите номер";
			var opts = guest_numbers_list.options;
			for (var opt, j = 0; opt = opts[j]; j++) {
				if (opt.value == val) {
					guest_numbers_list.selectedIndex = j;
					break;
				}
			}*/
		}
	</script>
</body>
</html>